.root-block{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
}

.main-block{
  background: cornflowerblue;
  border: 1px solid black;
  border-radius: 10%;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  input{
    background: white;
    font-size: 23px;
  }
}