.profileCard {
  height: 100%;
  width: 100%;
  flex-direction: column;
  padding: 30px 0;
}

.userInformation {
  .informationItem{

  }


}

.ratingButton{
  @apply w-1/2 py-1 flex justify-around items-center bg-gray-100 rounded hover:bg-gray-200 transition-colors;
  border: 1px solid gray;
  cursor: pointer;


  &.left{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  &.right{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

}