.profileCard {
  height: 100%;
  width: 100%;
  //display: flex;
  //align-items: center;
  //flex-direction: row;
  //justify-content: space-between;

  //background: linear-gradient(90deg, rgba(152,94,151,1) 0%, rgba(233,194,148,1) 0 0 / 100% 300px no-repeat);
  background: linear-gradient(90deg, rgba(152,94,151,1), rgba(233,194,148,1)) 0 0 / 100% 250px no-repeat, white;

}

.userInformation {
  display: flex;



  .informationItem{

  }
}