.Card {
  @apply shadow-xl;
  background: white;
  width: 400px;
  padding: 32px;
  border-radius: 15px;
  border: 0.1px solid black;
  display: flex;
  flex-direction: column;
}

.HelperCard {
  @apply shadow-xl;
  background: white;
  padding: 15px;
  height: 270px;
  width: 300px;
  border-radius: 15px;
  border: 0.1px solid black;
  display: flex;
  flex-direction: column;
  margin-left: 390px;
}

.submit {
  &:not([disabled]) {
    @apply hover:bg-blue-600 hover:transition-colors;
  }

  &[disabled] {
    @apply bg-gray-100 text-gray-600 cursor-default;
  }
}