.ratingButton{
  @apply  py-1 flex justify-around items-center bg-slate-100 rounded text-xl;
  border: 1px solid gray;
  cursor: pointer;
  min-width: 100px;

  &:not([disabled]):hover{
    @apply bg-slate-300;
    transition: 0.3s;
  }

  &[disabled]{
    cursor: default;
    background: white;
  }
}
.left{
  @apply rounded-r-none border-r-0;
  &.clicked{
    @apply bg-green-400;
  }
}
.right{
  @apply rounded-l-none;
  &.clicked{
    @apply bg-red-400;
  }
}

